# Secrets
.env
*.env
env.local
Documentation/env.local

# Virtual environments
venv/
myvenv/

# Python
__pycache__/
*.pyc
*.sqlite3
db.sqlite3

# Static files
staticfiles/

# Editor
.vscode/

docs/
Documentation/

*.log
*.pid
desktop.ini
verify_shots/
images/